/* Add application styles & imports to this file! */
.base {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/memoria-18394.appspot.com/o/imgs%2Ffondo.jpg?alt=media&token=0fe2b184-34e2-4c8a-b37d-19031beeac27');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.claro {
  color: rgb(249, 228, 250);
  -webkit-text-stroke: 1px rgb(167, 18, 212);
  text-shadow: 0 0 70px #a504c5;
}